
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

{"responseCode":200,"responseMsg":null,"CardHeader":
{"cardid":3621538,"cardCode":"101008643019","nid":"26110261401124","governorateCode":"01","supplyDeptCode":"01","supplySubDeptCode":"21","supplyCode":"02","grocerCode":"201000008257","cardStatus":"0","name":"زينب يوسف بيومى مصطفى الصعيدى","totalNumber":4,"beneficiaryNumber":4,"cardType":1,"govName":"القاهرة","deptName":"القاهرة","subDeptName":"المرج","officeName":"المرج ثان","statusName":"سارية","groccerName":"و/حورية محمد رجب","cardTypeName":"تموين","errortype":0,"mobile":null,"CardBeneficires":
[{"memberid":111812247,"cardId":3621538,"nid":"26110261401124","name":"زينب يوسف بيومى مصطفى الصعيدى","relationaStatus":"01","serviceTamween":true,"serviceBread":true,"status":0,"name1":null,"name2":null,"name3":null,"name4":null,"sepFlag":null,"addReason":null,"newRelation":null,"actionFlag":null,"actionOnMember":null,"beneficariesErrors":[],"sourceCardCode":null,"hasErrors":null,"addingFlag":false},{"memberid":111812249,"cardId":3621538,"nid":"30207230103443","name":"هاجر قاسم عواد محمد","relationaStatus":"05","serviceTamween":true,"serviceBread":true,"status":0,"name1":null,"name2":null,"name3":null,"name4":null,"sepFlag":null,"addReason":null,"newRelation":null,"actionFlag":null,"actionOnMember":null,"beneficariesErrors":[],"sourceCardCode":null,"hasErrors":null,"addingFlag":false},{"memberid":111812250,"cardId":3621538,"nid":"29107220101752","name":"احمد قاسم عواد بدر","relationaStatus":"04","serviceTamween":true,"serviceBread":true,"status":0,"name1":null,"name2":null,"name3":null,"name4":null,"sepFlag":null,"addReason":null,"newRelation":null,"actionFlag":null,"actionOnMember":null,"beneficariesErrors":[],"sourceCardCode":null,"hasErrors":null,"addingFlag":false},{"memberid":111812253,"cardId":3621538,"nid":"28608200109434","name":"محمود قاسم عواد بدر","relationaStatus":"04","serviceTamween":true,"serviceBread":true,"status":0,"name1":null,"name2":null,"name3":null,"name4":null,"sepFlag":null,"addReason":null,"newRelation":null,"actionFlag":null,"actionOnMember":null,"beneficariesErrors":[],"sourceCardCode":null,"hasErrors":null,"addingFlag":false}]}}

