
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>بداية البحث</h2>


        <input  id="dateFrom" name="date" placeholder="DD/MM/YYY" type="date" />


        @*< <label class="col-md-4" style="margin-top:10px">نهاية البحث</label>

            <input class="form-control col-md-8" id="dateEnd" name="date" placeholder="DD/MM/YYY" value="@ViewBag.DateTo.Date.ToString("yyyy-MM-dd")" type="date" />*@

