<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		

	<add name="PlantQuarantineEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOSS;initial catalog=PlantQuarantine_New;persist security info=True;user id=new;password=123;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

</configuration>